/* Laptop responsive for Section of Breakfast */

.container_secBreakfast{
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e5e5e5;

    display: grid;
    /* grid-template-columns: repeat(12, 1f); */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 
                           1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#breakfast_text{
    margin-bottom: 150px;
    padding: 30px;
    text-align: justify;

    border-radius: 15px;

    opacity: 0.9;
    background-color: white;
    word-spacing: 1px;
    line-height: 30px;

    order: 3;
    grid-column: 3/7;
    grid-row: 3/6;
}

#breakfast_text > h1{
    font-size: min(max(30px, 3vw), 70px);
    margin-top: 20px;
}

#breakfast_p{
    margin-bottom: 30px;
}

#breakfast_img{
    margin-top: 70px;

    order: 2;
    grid-column: 5/11;
    grid-row: 2/5;
}

#breakfast_pic{
    object-fit: contain;
}


