/* Tablet responsive for Section of Breakfast */

@media only screen and (max-width: 800px) {

.container_secBreakfast{
    margin-bottom: 0;
    background-color: #e5e5e5;

    display: grid;
    /* grid-template-columns: repeat(12, 1f); */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 
                           1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#breakfast_text{
    /* margin-bottom: 50px; */
    padding: 20px;
    text-align: justify;
    border-radius: 15px;

    background-color: white;
    word-spacing: 1px;
    line-height: 30px;

    order: 3;
    grid-column: 2/8;
    grid-row: 3/6;
}

#breakfast_text > h1{
    font-size: min(max(30px, 3vw), 70px);
    margin-top: 20px;
}

#breakfast_img{
    order: 2;
    grid-column: 6/12;
    grid-row: 2/4;
}

#breakfast_pic{
    object-fit: contain;
}


}